# Build Artifacts
**/target/
**/node_modules/
**/dist/
**/build/
**/out/

# IDE & Configs
**/.idea/
**/.vscode/
**/.git/
**/.docker/
**/.gitignore
.vps
pass_file.txt
host_file.txt
*.secret
**/.editorconfig
**/Justfile
**/SKILLS.md
**/documentation/

# Logs & Temp
**/*.log
**/tmp/
**/.DS_Store

# Java specific
**/.mvn/
**/mvnw
**/mvnw.cmd
